<package-def>
    <class name="ВерховныйКругляш" file="Классы/ВерховныйКругляш.os"/>
    <class name="ВерховныйТестовыйЖелудь" file="Классы/ВерховныйТестовыйЖелудь.os"/>
    <class name="Желудь1" file="Классы/Желудь1.os"/>
    <class name="Желудь2" file="Классы/Желудь2.os"/>
    <class name="Желудь3" file="Классы/Желудь3.os"/>
    <class name="Желудь4" file="Классы/Желудь4.os"/>
    <class name="Желудь5" file="Классы/Желудь5.os"/>
</package-def>