name: Контроль качества

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  sonar:
    uses: autumn-library/workflows/.github/workflows/sonar.yml@coverage
    with:
      github_repository: autumn-library/autumn
      coveralls: true
      oscript_version: lts-dev
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      
